Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

Fix golangci-lint failures: inline sha3 to crypto/sha3 and update deprecated gomodguard
  .golangci.yaml
  internal/util/util.go
  rawTransaction.go
  v2/internal/util/util.go
Due: v2, v1

Apply gofumpt formatting
  api/transactions.go
  client_test.go
  examples/external_signing/main.go
  examples/fungible_asset/main.go
  examples/offchain_multisig/main.go
  examples/orderless_transaction/main.go
  examples/transfer_coin/main.go
  http.go
  nodeClient.go
  script.go
  spec_bcs_test.go
  spec_common_test.go
  v2/example_test.go
  v2/examples/sponsored_transaction/main.go
  v2/examples/transfer_coin/main.go
  v2/integration_test.go
  v2/internal/http/client.go
  v2/telemetry/telemetry.go
Due: v2, v1

Add mise.toml for consistent Go tooling versions
  mise.toml
Due: v1

Address mise.toml review feedback
  mise.toml
Due: v1

Pin CI tool versions via mise
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
Due: v1

Fix CI gofumpt and golangci-lint failures; add mise.toml for consistent tooling (#217)
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .golangci.yaml
  api/transactions.go
  client_test.go
  examples/external_signing/main.go
  examples/fungible_asset/main.go
  examples/offchain_multisig/main.go
  examples/orderless_transaction/main.go
  examples/transfer_coin/main.go
  http.go
  internal/util/util.go
  mise.toml
  nodeClient.go
  rawTransaction.go
  script.go
  spec_bcs_test.go
  spec_common_test.go
  v2/example_test.go
  v2/examples/sponsored_transaction/main.go
  v2/examples/transfer_coin/main.go
  v2/integration_test.go
  v2/internal/http/client.go
  v2/internal/util/util.go
  v2/telemetry/telemetry.go
Due: v2, v1

[txn] Fix deserialization of extra config
  transactionInnerPayload.go
  transactionInnerPayload_test.go
Due: v1

[cleanup] Remove unnecessary todos
  crypto/simulation.go
  typetag.go
Due: v1

Add bounds checks to ConvertToU128/U256/I128/I256
  typeConversion.go
Due: v1

Fix BlockEpilogueTransaction.UnmarshalJSON dropping Events field
  api/transactions.go
Due: v1

Improve type tag parse error message to include the bad input
  typetag.go
Due: v1

Fix Event.UnmarshalJSON using stale variable for non-map data path
  api/events.go
Due: v1

Guard MultiEd25519Signature.UnmarshalBCS against ReadBytes failure
  crypto/multiEd25519.go
Due: v1

Remove resolved TODO comments from NoAuthenticator and GenericTag/ReferenceTag
  crypto/simulation.go
  typetag.go
Due: v1

Add missing signature UnmarshalJSON test coverage
  api/signature_test.go
Due: none

Add test for Block.UnmarshalJSON transaction parse error path
  api/blocks_test.go
Due: none

Add BCS round-trip test for AccountResourceRecord
  resource_test.go
Due: none

Add boundary coverage for ConvertToU128/U256/I128/I256
  typeConversion_test.go
Due: none

Fix some issues (#216)
  api/blocks_test.go
  api/events.go
  api/signature_test.go
  api/transactions.go
  crypto/multiEd25519.go
  crypto/simulation.go
  resource_test.go
  transactionInnerPayload.go
  transactionInnerPayload_test.go
  typeConversion.go
  typeConversion_test.go
  typetag.go
Due: v1

v1: fix data race in Test_AccountTransactions parallel subtests
  client_test.go
  v2/integration_faucet_test.go
  v2/node_client.go
Due: v2

v2: fix critical signing bug — use SHA3-256 for transaction prehash
  v2/integration_test.go
  v2/node_client.go
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

v2: address gofumpt + golangci-lint nits in TestIntegration_TransferAPT
  v2/integration_test.go
Due: none

v2: cross-version compatibility tests against v1 for wire-format & signing
  v2/compatibility/v1_v2_test.go
  v2/node_client_extra_test.go
Due: none

ci: pin GOTOOLCHAIN to go1.25.0 for v2 coverage step
  .github/workflows/codecov.yaml
Due: v1

ci: set GOTOOLCHAIN inline on the v2 coverage command
  .github/workflows/codecov.yaml
Due: v1

ci: GOTOOLCHAIN=auto in mise.toml so v2's go.mod can pull Go 1.25.0
  .github/workflows/codecov.yaml
  mise.toml
Due: v1

ci: install full Go 1.25 via setup-go for v2 coverage (covdata)
  .github/workflows/codecov.yaml
Due: v1

ci(coverage): drop mise from the coverage job; use one Go install
  .github/workflows/codecov.yaml
Due: v1

v2: address PR review comments
  v2/node_client.go
  v2/node_client_extra_test.go
  v2/transaction_types_test.go
Due: v2

SDK audit: fix critical v2 signing bug, race in v1 tests, balance/faucet for FA networks; add real localnet end-to-end test (#218)
  .github/workflows/codecov.yaml
  client_test.go
  mise.toml
  v2/compatibility/v1_v2_test.go
  v2/integration_faucet_test.go
  v2/integration_test.go
  v2/node_client.go
  v2/node_client_extra_test.go
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2, v1

v2: fix entry-function arg BCS encoding and ANS payloads
  v2/ans/ans.go
  v2/ans/ans_test.go
  v2/client.go
  v2/examples/transfer_coin/main.go
  v2/node_client.go
  v2/node_client_extra_test.go
  v2/testutil/fake_client.go
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

v2: wrap SimulateTransaction auth + tighten test coverage
  v2/node_client.go
  v2/node_client_extra_test.go
  v2/transaction_types_test.go
Due: v2

v2: mutation-test fixes — strengthen weak BigInt test, drop redundant ones
  v2/node_client_extra_test.go
  v2/transaction_types_test.go
Due: none

v2: address PR review comments
  v2/ans/ans.go
  v2/ans/ans_test.go
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

Add HTTP/2 vs HTTP/1.1 net/http benchmarks (v1 + v2)
  benchmark/http_bench_test.go
  v2/benchmark/http_bench_test.go
Due: none

Add fasthttp-backed HTTPDoer for v2
  v2/benchmark/sdk_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
Due: v2

Make v2/fasthttp a standalone optional module
  v2/benchmark/http_bench_test.go
  v2/benchmark/sdk_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
  v2/fasthttp/go.mod
  v2/fasthttp/go.sum
  v2/go.mod
  v2/go.sum
Due: v2

v2: release v2.1.0
  v2/CHANGELOG.md
Due: v2

v2: release v2.1.0 (#222)
  v2/CHANGELOG.md
Due: v2

docs: backfill CHANGELOG entry for v1.13.0
  CHANGELOG.md
Due: v1

Path conditions:
  v2: any of: v2/, but not: **/*_test.go, **/doc.go, **/examples/**, **/benchmark/**, **/testutil/**, **/cmd/**
  v1: any file but: v2/, **/*_test.go, **/doc.go, **/examples/**, **/benchmark/**, **/testutil/**, **/cmd/**
