Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true  # Don't block PRs on coverage
      v2:
        flags:
          - v2
        target: auto
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

# Flag management for separate v1/v2 tracking
flags:
  v2:
    paths:
      - v2/
    carryforward: true
  v1:
    paths:
      - "!v2/"  # Everything except v2
    carryforward: true

# Ignore paths that don't need coverage
ignore:
  - "**/*_test.go"
  - "**/doc.go"
  - "**/examples/**"
  - "**/benchmark/**"
  - "**/testutil/**"
  - "**/cmd/**"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks configuration
github_checks:
  annotations: true

docs: backfill CHANGELOG entry for v1.13.0 (#223)
  CHANGELOG.md
Due: v1

chore: update dependencies and toolchain to go1.25.10
  CHANGELOG.md
  go.mod
  go.sum
  v2/CHANGELOG.md
  v2/go.mod
  v2/go.sum
Due: v2, v1

chore: update dependencies and toolchain to go1.25.10 (#224)
  CHANGELOG.md
  go.mod
  go.sum
  v2/CHANGELOG.md
  v2/go.mod
  v2/go.sum
Due: v2, v1

release: prep v1.14.0 and v2.2.0 changelogs
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

release: prep v1.14.0 and v2.2.0 changelogs (#225)
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

feat(v2): wire retry and rate-limit handling into node client
  v2/node_client.go
  v2/retry.go
  v2/retry_test.go
Due: v2

fix(v2): support AIP-80 export for SingleSigner-wrapped keys
  v2/account/account.go
  v2/account/account_test.go
  v2/internal/crypto/single_key.go
Due: v2

feat(v2): support legacy MultiEd25519 transaction authenticator
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

Document Cursor Cloud setup notes
  AGENTS.md
Due: v1

Clarify localnet prerequisites
  AGENTS.md
Due: v1

test(v2): expand retry middleware coverage
  v2/retry_test.go
Due: none

test(v2): cover ANS client view methods
  v2/ans/client_test.go
Due: none

test(v2): add view-result stubbing to FakeClient
  v2/testutil/fake_client.go
  v2/testutil/testutil_test.go
Due: none

fix(v2): honor explicit MaxRetries==0 in retry middleware
  v2/retry.go
  v2/retry_test.go
Due: v2

refactor(v2): tighten retry middleware activation and context propagation
  v2/retry.go
  v2/retry_test.go
Due: v2

fix(v2): make FakeClient view-result stubs immutable
  v2/testutil/fake_client.go
  v2/testutil/testutil_test.go
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: v1

fix(v2): guard MultiEd25519TransactionAuthenticator against nil sender
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

perf(v2): use a stoppable timer for retry backoff
  v2/retry.go
Due: v2

docs(v2): clarify FakeClient view-result copy is shallow
  v2/testutil/fake_client.go
Due: none

Update CODEOWNERS (#228)
  CODEOWNERS
Due: v1

fix(v2): validate inner authenticator type in MultiEd25519 MarshalBCS
  v2/transaction_types.go
  v2/transaction_types_test.go
Due: v2

fix(v2): keep MaxRetries a strict cap on error/status retries
  v2/retry.go
  v2/retry_test.go
Due: v2

docs(v2): note retry loop intentionally uses Go 1.22+ range-over-int
  v2/retry.go
Due: v2

Fix math.MaxUint32 overflow on 32-bit systems in util.go
  internal/util/util.go
  v2/internal/util/util.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
  v2/internal/util/util_test.go
Due: v2, v1

Fix 32-bit overflow in v2 BCS length checks and related tests
  spec_bcs_test.go
  typeConversion_test.go
  v2/internal/bcs/bcs.go
  v2/internal/bcs/deserializer.go
  v2/internal/bcs/reflect.go
  v2/internal/bcs/serializer.go
Due: v2

feat: add BIP-39 mnemonic and BIP-44 derivation path support
  account.go
  account_derivation_test.go
  crypto/derivation.go
  crypto/derivation_test.go
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  go.mod
  go.sum
  internal/types/account.go
  v2/account/account.go
  v2/account/derivation_test.go
  v2/go.mod
  v2/go.sum
  v2/internal/crypto/derivation.go
  v2/internal/crypto/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

fix: address PR review feedback on HD derivation
  account_derivation_test.go
  crypto/derivation_test.go
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  internal/types/account_test.go
  v2/internal/crypto/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

Address PR review: safe uleb128-to-int conversion and test tags
  bcs/deserializer.go
  typeConversion_test.go
  v2/internal/bcs/deserializer.go
  v2/internal/bcs/deserializer_intmax_32bit_test.go
  v2/internal/bcs/reflect.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
Due: v2, v1

Fix lint: use errors.New and integer range in bcs deserializer
  bcs/deserializer.go
Due: v1

fix: reject extra derivation args and improve segment errors
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  internal/types/account.go
  internal/types/account_test.go
  v2/account/account.go
  v2/account/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

test(confidentialasset): add layered tests and CI matrix for v2 package
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
  AGENTS.md
  mise.toml
  v2/confidentialasset/README.md
  v2/confidentialasset/integration_confidential_test.go
  v2/confidentialasset/internal/movearg/movearg_test.go
  v2/confidentialasset/internal/sigbcs/sigbcs_test.go
  v2/confidentialasset/stub_contract_nocgo_test.go
  v2/confidentialasset/views_test.go
  v2/go.mod
Due: v2, v1

ci(codecov): pin confidential-asset-bindings to logan/go-only-ffi-go
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
Due: v1

ci: checkout confidential-asset-bindings from WGB5445 fork
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
Due: v1

fix(ci): align v2 Go version, gofumpt, and drop broken CGO workflow
  .github/workflows/confidentialasset-cgo.yaml
  v2/confidentialasset/internal/ca/encrypted.go
  v2/confidentialasset/internal/sigma/keyrotation.go
  v2/confidentialasset/internal/sigma/transfer.go
  v2/confidentialasset/internal/sigma/withdraw.go
  v2/confidentialasset/txsubmit.go
  v2/go.mod
Due: v2, v1

ci: checkout confidential-asset-bindings for v2 module replace in codecov
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
Due: v1

refactor(confidentialasset): split FFI into native subpackage and add TS map
  .github/workflows/confidentialasset-test.yaml
  AGENTS.md
  v2/CHANGELOG.md
  v2/confidentialasset/README.md
  v2/confidentialasset/balance_common.go
  v2/confidentialasset/balance_nocgo.go
  v2/confidentialasset/bindings_smoke_cgo_test.go
  v2/confidentialasset/client.go
  v2/confidentialasset/client_proofs.go
  v2/confidentialasset/client_proofs_balance_stub.go
  v2/confidentialasset/compile_constraint_test.go
  v2/confidentialasset/doc.go
  v2/confidentialasset/doc/SPEC.md
  v2/confidentialasset/doc/TS_GO_MAP.md
  v2/confidentialasset/errors.go
  v2/confidentialasset/internal/crypto/README.md
  v2/confidentialasset/internal/prover/doc.go
  v2/confidentialasset/internal/rangeproof/rangeproof_stub.go
  v2/confidentialasset/native/asset.go
  v2/confidentialasset/native/balance.go
  v2/confidentialasset/native/client.go
  v2/confidentialasset/native/helpers.go
  v2/confidentialasset/native/proofs.go
  v2/confidentialasset/native/smoke_test.go
  v2/confidentialasset/stub_contract_nocgo_test.go
  v2/confidentialasset/txsubmit.go
  v2/confidentialasset/views.go
  v2/doc.go
  v2/examples/confidential_asset/README.md
  v2/examples/confidential_asset/balance/main.go
  v2/examples/confidential_asset/deposit_chain/main.go
  v2/examples/confidential_asset/ffismoke/main.go
  v2/examples/confidential_asset/register/main.go
  v2/examples/confidential_asset/transfer/main.go
  v2/examples/confidential_asset/withdraw/main.go
Due: v2, v1

test(v2/confidentialasset): expand unit and native coverage
  v2/confidentialasset/balance_common_test.go
  v2/confidentialasset/client_proofs_test.go
  v2/confidentialasset/client_test.go
  v2/confidentialasset/helpers_test.go
  v2/confidentialasset/indexer_test.go
  v2/confidentialasset/internal/ca/chunked_test.go
  v2/confidentialasset/internal/ca/elgamal_test.go
  v2/confidentialasset/internal/ca/encrypted_test.go
  v2/confidentialasset/internal/ca/points_test.go
  v2/confidentialasset/internal/caed25519/caed25519_test.go
  v2/confidentialasset/internal/cipherparse/cipherparse_test.go
  v2/confidentialasset/internal/sigma/registration_test.go
  v2/confidentialasset/internal/sigma/sessions_test.go
  v2/confidentialasset/internal/sigma/transfer_test.go
  v2/confidentialasset/internal/sigma/withdraw_test.go
  v2/confidentialasset/native/balance_test.go
  v2/confidentialasset/native/client_test.go
  v2/confidentialasset/native/helpers_test.go
  v2/confidentialasset/native/proofs_test.go
  v2/confidentialasset/testfixtures_test.go
  v2/confidentialasset/txsubmit_test.go
  v2/confidentialasset/views_client_test.go
  v2/confidentialasset/views_test.go
  v2/testutil/fake_client.go
Due: none

style(v2/confidentialasset): gofumpt test files for CI fmt-check
  v2/confidentialasset/client_proofs_test.go
  v2/confidentialasset/client_test.go
  v2/confidentialasset/native/proofs_test.go
Due: none
