Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true  # Don't block PRs on coverage
      v2:
        flags:
          - v2
        target: auto
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

# Flag management for separate v1/v2 tracking
flags:
  v2:
    paths:
      - v2/
    carryforward: true
  v1:
    paths:
      - "!v2/"  # Everything except v2
    carryforward: true

# Ignore paths that don't need coverage
ignore:
  - "**/*_test.go"
  - "**/doc.go"
  - "**/examples/**"
  - "**/benchmark/**"
  - "**/testutil/**"
  - "**/cmd/**"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks configuration
github_checks:
  annotations: true

Increase SDK test coverage to 73% with ~90 new unit tests
  accountInfo_test.go
  account_test.go
  api/signature_test.go
  api/transactions_test.go
  api/util_test.go
  api/writeSet_test.go
  bcs/bcs_test.go
  bcs/serialized_test.go
  client_util_test.go
  code_test.go
  coinPayloads_test.go
  commonPayloads_test.go
  crypto/authenticator.go
  crypto/authenticator_test.go
  crypto/ed25519_test.go
  crypto/multiEd25519_test.go
  crypto/multiKey_test.go
  crypto/secp256k1_test.go
  crypto/simulation_test.go
  crypto/singleKey_test.go
  faucet_test.go
  fungible_asset_client_test.go
  http_test.go
  indexerClient_test.go
  internal/types/accountAddress_extra_test.go
  internal/types/account_test.go
  multisig_payload_test.go
  multisig_test.go
  nodeClient_test.go
  nodeInfo_test.go
  rawTransaction_test.go
  script_test.go
  signedTransaction_test.go
  transactionAuthenticator_test.go
  transactionInnerPayload_test.go
  transactionPayload_extra_test.go
  transactionSubmission_test.go
  typetag_test.go
Due: v1

Fix golangci-lint issues in multisig_test.go and rawTransaction_test.go
  multisig_test.go
  rawTransaction_test.go
Due: none

Strengthen test assertions: verify values not just types
  account_test.go
  api/signature_test.go
  api/util_test.go
  api/writeSet_test.go
  bcs/serialized_test.go
  crypto/multiKey_test.go
  crypto/secp256k1_test.go
  internal/types/accountAddress_extra_test.go
  nodeClient_test.go
  transactionInnerPayload_test.go
  transactionSubmission_test.go
Due: none

Address PR review comments and remove devnet integration tests
  integration_test/transactionSubmission/multi_sender_test.go
  integration_test/transactionSubmission/single_sender_test.go
  internal/testutil/test_helpers.go
  nodeInfo_test.go
  v2/example_test.go
  v2/integration_faucet_test.go
  v2/integration_test.go
  v2/internal/types/typetag_test.go
  v2/internal/util/util_test.go
  v2/sponsored/sponsored_test.go
Due: none

Increase v2 SDK test coverage from 63% to 74%
  v2/internal/bcs/bcs_test.go
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/keyless_test.go
  v2/internal/crypto/multi_key_test.go
  v2/internal/http/client_test.go
  v2/internal/types/typetag_test.go
  v2/internal/util/util_test.go
  v2/iter/iter_test.go
  v2/keyless/keyless_test.go
  v2/node_client_test.go
  v2/sponsored/sponsored_test.go
  v2/testutil/testutil_test.go
  v2/transaction_types_test.go
Due: none

Fix gofumpt formatting and golangci-lint issues in test files
  CLAUDE.md
  v2/internal/bcs/bcs_test.go
  v2/internal/http/client_test.go
  v2/iter/iter_test.go
  v2/node_client_test.go
  v2/sponsored/sponsored_test.go
  v2/testutil/testutil_test.go
  v2/transaction_types_test.go
Due: v1

Clean up v1 MarshalJSON: consolidate unknown type handling
  api/payloads.go
  api/signature.go
  api/transactions.go
  api/writeSet.go
Due: v1

Add round-trip MarshalJSON tests for v2 SDK types
  v2/types_test.go
Due: none

Add Codecov coverage badge and refresh README
  README.md
Due: v1

Fix flaky nodeInfo tests: remove t.Parallel from tests that mutate global slog
  nodeInfo_test.go
Due: none

Codecov coverage badge (#202)
  README.md
  nodeInfo_test.go
Due: v1

Increase default max gas limit by 10x
  nodeClient.go
  v2/node_client.go
  v2/testutil/fake_client.go
  v2/testutil/helpers.go
Due: v2, v1

Update changelogs for default max gas limit increase
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

Increase example fund amounts to 10 APT to match higher max gas default
  examples/alternative_signing/main.go
  examples/external_signing/main.go
  examples/local_abi/main.go
  examples/multi_agent/main.go
  examples/offchain_multisig/main.go
  examples/onchain_multisig/main.go
  examples/orderless_transaction/main.go
  examples/performance_transaction/main.go
  examples/remote_abi/main.go
  examples/sending_concurrent_transactions/main.go
  examples/sponsored_transaction/main.go
  examples/transfer_coin/main.go
  v2/examples/transfer_coin/main.go
Due: none

Increase fund amount in fungible_asset example to 10 APT
  examples/fungible_asset/main.go
Due: none

Increase fund amounts in integration tests and remaining examples to 10 APT
  client_test.go
  examples/script_args_transaction/main.go
  examples/script_transaction/main.go
  fungible_asset_client_test.go
  integration_test/transactionSubmission/multi_sender_test.go
  integration_test/transactionSubmission/single_sender_test.go
  multisig_test.go
Due: none

Default max gas limit (#203)
  CHANGELOG.md
  client_test.go
  examples/alternative_signing/main.go
  examples/external_signing/main.go
  examples/fungible_asset/main.go
  examples/local_abi/main.go
  examples/multi_agent/main.go
  examples/offchain_multisig/main.go
  examples/onchain_multisig/main.go
  examples/orderless_transaction/main.go
  examples/performance_transaction/main.go
  examples/remote_abi/main.go
  examples/script_args_transaction/main.go
  examples/script_transaction/main.go
  examples/sending_concurrent_transactions/main.go
  examples/sponsored_transaction/main.go
  examples/transfer_coin/main.go
  fungible_asset_client_test.go
  integration_test/transactionSubmission/multi_sender_test.go
  integration_test/transactionSubmission/single_sender_test.go
  multisig_test.go
  nodeClient.go
  v2/CHANGELOG.md
  v2/examples/transfer_coin/main.go
  v2/node_client.go
  v2/testutil/fake_client.go
  v2/testutil/helpers.go
Due: v2, v1

v2: stringify uint64 view arguments
  v2/node_client.go
  v2/node_client_test.go
Due: v2

v2: serialize view type arguments
  v2/node_client.go
  v2/node_client_test.go
Due: v2

nodeClient.go: fix closing response on error
  nodeClient.go
Due: v1

nodeClient.go: fix closing response on error (#207)
  nodeClient.go
Due: v1

[refactor] fix broken lints
  bcs/deserializer.go
  typeConversion.go
Due: v1

[release] v1.12.1
  CHANGELOG.md
Due: v1

[fix] Use default transport in v1
  CHANGELOG.md
  nodeClient.go
Due: v1

fix bug in type conversion
  typeConversion.go
Due: v1

Release v1.12.1 (#208)
  CHANGELOG.md
  bcs/deserializer.go
  nodeClient.go
  typeConversion.go
Due: v1

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
Due: v1

Add AGENTS.md with Cursor Cloud development instructions (#209)
  AGENTS.md
Due: v1

v2: stringify uint64 view arguments (#204)
  v2/node_client.go
  v2/node_client_test.go
Due: v2

fix: avoid uint64 underflow when paging account transactions
  nodeClient.go
  nodeClient_test.go
  v2/node_client.go
Due: v2, v1

test: mock AccountTransactions and Transactions limit-only edge cases
  nodeClient_test.go
  v2/node_client_test.go
Due: none

Address PR review: empty tx slice guard, docs, atomics, godoc link
  client.go
  nodeClient.go
  nodeClient_test.go
  v2/node_client.go
  v2/node_client_test.go
Due: v2, v1

Pin GitHub Actions dependencies
  .github/actions/README.md
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/run-go-tests.yaml
Due: v1

Fix AccountTransactions pagination underflow at sequence 0 (v1); clarify v2 (#214)
  client.go
  nodeClient.go
  nodeClient_test.go
  v2/node_client.go
  v2/node_client_test.go
Due: v2, v1
