Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

test: verify orderless transactions end-to-end against localnet
  v2/integration_test.go
Due: none

refactor(v2/confidentialasset): split payload building from submit
  v2/confidentialasset/client_proofs.go
  v2/confidentialasset/native/proofs.go
  v2/confidentialasset/txsubmit.go
Due: v2

fix(v2/confidentialasset): decrypt un-normalized pending balances; add FA balance timeout
  v2/confidentialasset/internal/ca/chunked.go
  v2/confidentialasset/internal/ca/chunked_checked_test.go
  v2/confidentialasset/native/balance.go
  v2/confidentialasset/txsubmit.go
Due: v2

Add fasthttp-backed HTTPDoer for v2
  v2/benchmark/sdk_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
Due: v2

Add HTTP/2 vs HTTP/1.1 net/http benchmarks (v1 + v2)
  benchmark/http_bench_test.go
  v2/benchmark/http_bench_test.go
Due: none

Make v2/fasthttp a standalone optional module
  v2/benchmark/http_bench_test.go
  v2/benchmark/sdk_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
  v2/fasthttp/go.mod
  v2/fasthttp/go.sum
  v2/go.mod
  v2/go.sum
Due: v2

Fix fasthttp cancellation ownership and benchmark errors
  benchmark/http_bench_test.go
  v2/benchmark/http_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
Due: v2

Honor early cancellation for deadline requests
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
Due: v2

Preserve cleanup ownership at context deadlines
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
Due: v2

Benchmark net/http vs fasthttp; add optional v2/fasthttp HTTPDoer module (#221)
  benchmark/http_bench_test.go
  v2/fasthttp/doer.go
  v2/fasthttp/doer_test.go
  v2/fasthttp/go.mod
  v2/fasthttp/go.sum
  v2/go.mod
  v2/go.sum
Due: v2

release: prep v1.15.0 and v2.3.0 changelogs
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

release: consolidate changelogs as v1.14.0 and v2.2.0
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

release: update v1.14.0 and v2.2.0 changelogs for new main changes
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

release: prep v1.14.0 and v2.2.0 changelogs (#232)
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

fix(bcs): guard ReadBytes against oversized length (unbounded-allocation DoS)
  bcs/bcs_test.go
  bcs/deserializer.go
Due: v1

chore: update dependencies and toolchain to go1.27.1
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/run-go-tests.yaml
  CHANGELOG.md
  go.mod
  go.sum
  mise.toml
  v2/.golangci.yaml
  v2/CHANGELOG.md
  v2/fasthttp/go.mod
  v2/fasthttp/go.sum
  v2/go.mod
  v2/go.sum
Due: v2, v1

test: query retained ledger versions in v2 integration tests
  v2/CHANGELOG.md
  v2/integration_test.go
Due: v2

chore: update dependencies and toolchain to go1.27.1 (#235)
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/run-go-tests.yaml
  CHANGELOG.md
  go.mod
  go.sum
  mise.toml
  v2/.golangci.yaml
  v2/CHANGELOG.md
  v2/fasthttp/go.mod
  v2/fasthttp/go.sum
  v2/go.mod
  v2/go.sum
  v2/integration_test.go
Due: v2, v1

release: prep v1.14.0 and v2.2.0
  CHANGELOG.md
  README.md
  v2/CHANGELOG.md
  v2/README.md
  v2/aptos.go
  v2/retry.go
  v2/telemetry/telemetry.go
Due: v2, v1

release: prep v1.14.0 and v2.2.0 (#236)
  CHANGELOG.md
  README.md
  v2/CHANGELOG.md
  v2/README.md
  v2/aptos.go
  v2/retry.go
  v2/telemetry/telemetry.go
Due: v2, v1

chore(v2): bump aptos-go-sdk to v1.14.0
  v2/go.mod
  v2/go.sum
Due: v2

test(v2): require tagged v1.14.0 at release time
  v2/compatibility/module_version_test.go
Due: none

chore(v2): bump aptos-go-sdk to v1.14.0 (#237)
  v2/compatibility/module_version_test.go
  v2/go.mod
  v2/go.sum
Due: v2

fix(ans): point TestnetRouterAddress at the redeployed testnet ANS contract
  v2/CHANGELOG.md
  v2/ans/ans.go
Due: v2

fix(ans): point TestnetRouterAddress at the redeployed testnet ANS contract (#238)
  v2/CHANGELOG.md
  v2/ans/ans.go
Due: v2

docs: merge CLAUDE.md into AGENTS.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
Due: v1

release: prep v2.3.0
  v2/CHANGELOG.md
  v2/aptos.go
  v2/telemetry/telemetry.go
Due: v2

release: prep v2.3.0 (#239)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  v2/CHANGELOG.md
  v2/aptos.go
  v2/telemetry/telemetry.go
Due: v2, v1

Path conditions:
  v2: any of: v2/, but not: **/*_test.go, **/doc.go, **/examples/**, **/benchmark/**, **/testutil/**, **/cmd/**
  v1: any file but: v2/, **/*_test.go, **/doc.go, **/examples/**, **/benchmark/**, **/testutil/**, **/cmd/**
