Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true  # Don't block PRs on coverage
      v2:
        flags:
          - v2
        target: auto
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

# Flag management for separate v1/v2 tracking
flags:
  v2:
    paths:
      - v2/
    carryforward: true
  v1:
    paths:
      - "!v2/"  # Everything except v2
    carryforward: true

# Ignore paths that don't need coverage
ignore:
  - "**/*_test.go"
  - "**/doc.go"
  - "**/examples/**"
  - "**/benchmark/**"
  - "**/testutil/**"
  - "**/cmd/**"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks configuration
github_checks:
  annotations: true

Address additional PR review comments
  v2/internal/bcs/deserializer.go
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/ed25519.go
  v2/internal/crypto/keyless.go
  v2/internal/crypto/secp256k1.go
  v2/internal/crypto/secp256r1.go
  v2/internal/crypto/webauthn.go
Due: v2

Update GitHub Actions to latest versions
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/run-go-tests.yaml
Due: v1

Fix SingleSigner variant handling for new key types
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/single_key.go
Due: v2

Address PR review comments (round 2)
  v2/benchmark/http_bench_test.go
  v2/internal/bcs/serializer.go
  v2/internal/crypto/webauthn.go
  v2/internal/util/util.go
Due: v2

Strengthen weak test assertions across v2 SDK
  v2/account/account_test.go
  v2/integration_test.go
  v2/internal/http/client_test.go
  v2/transaction_types_test.go
Due: none

Add Codecov support for v2 SDK
  .github/workflows/codecov.yaml
  codecov.yml
  v2/README.md
Due: v2, v1

Add support for secp256r1
  CHANGELOG.md
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/private_key.go
  v2/internal/crypto/secp256r1.go
  v2/internal/crypto/single_key.go
Due: v2, v1

fix multikey implementation
  CHANGELOG.md
  go.mod
  go.sum
  v2/benchmark/benchmark_results.txt
  v2/benchmark/http_bench_test.go
  v2/go.mod
  v2/go.sum
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/multi_key.go
  v2/internal/crypto/single_key.go
Due: v2, v1

support slh_dsa signatures in v2
  CHANGELOG.md
  v2/go.mod
  v2/go.sum
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/private_key.go
  v2/internal/crypto/single_key.go
  v2/internal/crypto/slh_dsa.go
Due: v2, v1

Address PR review comments
  go.mod
  go.sum
  v2/benchmark/http_bench_test.go
  v2/go.mod
  v2/go.sum
  v2/internal/bcs/bcs.go
  v2/internal/util/util.go
Due: v2, v1

remove benchmark_results
  v2/benchmark/benchmark_results.txt
Due: none

another security pass
  CHANGELOG.md
  v2/internal/bcs/doc.go
  v2/internal/crypto/doc.go
  v2/internal/http/doc.go
  v2/internal/types/doc.go
  v2/internal/util/doc.go
Due: v1

add webauthn and keyless
  CHANGELOG.md
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/keyless.go
  v2/internal/crypto/single_key.go
  v2/internal/crypto/webauthn.go
Due: v2, v1

more fixes
  CHANGELOG.md
  v2/internal/bcs/bcs.go
  v2/internal/bcs/serializer.go
  v2/internal/crypto/ed25519.go
  v2/internal/crypto/multi_key.go
  v2/internal/crypto/private_key.go
  v2/internal/crypto/secp256k1.go
  v2/internal/crypto/secp256r1.go
  v2/internal/crypto/single_key.go
  v2/internal/crypto/webauthn.go
  v2/internal/types/address.go
  v2/internal/util/util.go
Due: v2, v1

Add symmetric MarshalJSON for all API types
  api/blocks.go
  api/events.go
  api/marshal_test.go
  api/payloads.go
  api/signature.go
  api/transactions.go
  api/util.go
  api/writeSet.go
Due: v1

Bump v2 SDK version to 2.0.0 and update changelog for release
  CHANGELOG.md
  v2/aptos.go
Due: v2, v1

Move v2 changelog to v2/CHANGELOG.md, keep v1 changelog in root
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

Prep v1.12.0 release: mark changelog as released (2/25/2026)
  CHANGELOG.md
Due: v1

Fix gosec lint warnings: suppress false-positive SSRF, log injection, and int overflow
  bcs/serializer.go
  faucet.go
  nodeClient.go
Due: v1

Fix Test_Indexer: migrate from deprecated current_coin_balances to current_fungible_asset_balances
  indexerClient.go
Due: v1

Address PR review: add indexer migration to changelog, update stale doc comments
  CHANGELOG.md
  client.go
Due: v1

[docs] Update readmes with godoc urls
  README.md
  v2/README.md
Due: v2, v1

update readme
  README.md
Due: v1

Increase v2 SDK test coverage from 63% to 74%
  v2/internal/bcs/bcs_test.go
  v2/internal/crypto/crypto_test.go
  v2/internal/crypto/keyless_test.go
  v2/internal/crypto/multi_key_test.go
  v2/internal/http/client_test.go
  v2/internal/types/typetag_test.go
  v2/internal/util/util_test.go
  v2/iter/iter_test.go
  v2/keyless/keyless_test.go
  v2/node_client_test.go
  v2/sponsored/sponsored_test.go
  v2/testutil/testutil_test.go
  v2/transaction_types_test.go
Due: none

Fix gofumpt formatting and golangci-lint issues in test files
  CLAUDE.md
  v2/internal/bcs/bcs_test.go
  v2/internal/http/client_test.go
  v2/iter/iter_test.go
  v2/node_client_test.go
  v2/sponsored/sponsored_test.go
  v2/testutil/testutil_test.go
  v2/transaction_types_test.go
Due: v1
