Repository aptos-labs/aptos-go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: v2, v1

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true  # Don't block PRs on coverage
      v2:
        flags:
          - v2
        target: auto
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

# Flag management for separate v1/v2 tracking
flags:
  v2:
    paths:
      - v2/
    carryforward: true
  v1:
    paths:
      - "!v2/"  # Everything except v2
    carryforward: true

# Ignore paths that don't need coverage
ignore:
  - "**/*_test.go"
  - "**/doc.go"
  - "**/examples/**"
  - "**/benchmark/**"
  - "**/testutil/**"
  - "**/cmd/**"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks configuration
github_checks:
  annotations: true

ci: use aptos-labs/confidential-asset-bindings main for FFI
  .github/actions/setup-confidential-bindings/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
Due: v1

test(v2/confidentialasset): round 2 coverage for native proofs and sigma
  v2/confidentialasset/internal/ca/encrypted_extra_test.go
  v2/confidentialasset/internal/cipherparse/cipherparse_test.go
  v2/confidentialasset/internal/sigbcs/sigbcs_extra_test.go
  v2/confidentialasset/internal/sigma/transfer_test.go
  v2/confidentialasset/internal/sigma/withdraw_test.go
  v2/confidentialasset/native/asset_test.go
  v2/confidentialasset/native/balance_test.go
  v2/confidentialasset/native/proofs_test.go
  v2/confidentialasset/native/smoke_test.go
  v2/confidentialasset/native/testhelpers_test.go
  v2/confidentialasset/txsubmit_test.go
  v2/confidentialasset/views_client_test.go
Due: none

feat(v2/confidentialasset): bump bindings to v1.1.2 and add example install docs
  v2/examples/confidential_asset/balance/main.go
  v2/examples/confidential_asset/deposit_chain/main.go
  v2/examples/confidential_asset/register/main.go
  v2/examples/confidential_asset/transfer/main.go
  v2/examples/confidential_asset/withdraw/main.go
  v2/go.mod
  v2/go.sum
Due: v2

fix(ci): switch FFI setup to tools/download and fix WithViewFunc callers
  .github/workflows/codecov.yaml
  .github/workflows/confidentialasset-test.yaml
  v2/ans/client_test.go
  v2/testutil/testutil_test.go
Due: v1

fix(v2/confidentialasset): address Copilot review comments
  v2/confidentialasset/doc/SPEC.md
  v2/confidentialasset/native/proofs.go
  v2/examples/confidential_asset/register/main.go
  v2/examples/confidential_asset/transfer/main.go
Due: v2

docs(v2/confidentialasset): translate Chinese README content to English
  v2/confidentialasset/README.md
  v2/examples/confidential_asset/README.md
Due: v2

fix(v2/confidentialasset): address Copilot review round 2 comments
  v2/confidentialasset/native/proofs.go
  v2/confidentialasset/txsubmit.go
  v2/testutil/fake_client.go
Due: v2

fix(v2/confidentialasset): address code review findings
  v2/confidentialasset/client_proofs.go
  v2/confidentialasset/native/asset.go
  v2/confidentialasset/native/balance.go
  v2/confidentialasset/native/proofs.go
  v2/confidentialasset/txsubmit.go
Due: v2

fix(v2/confidentialasset/native): update test to expect 2 txs from normalize+rollover path
  v2/confidentialasset/native/asset_test.go
Due: none

fix(v2/confidentialasset): address Copilot review round 2 comments
  v2/confidentialasset/native/balance.go
  v2/confidentialasset/views.go
Due: v2

fix(v2/confidentialasset): address Copilot review round 2 comments
  v2/confidentialasset/views.go
  v2/examples/confidential_asset/register/main.go
Due: v2

fix(v2/confidentialasset): address Copilot review round 2 comments
  .github/workflows/confidentialasset-test.yaml
  mise.toml
  v2/confidentialasset/txsubmit.go
  v2/testutil/fake_client.go
Due: v2, v1

fix(v2/confidentialasset): address Copilot review round 2 comments
  v2/confidentialasset/views_client_test.go
  v2/examples/confidential_asset/balance/main.go
  v2/examples/confidential_asset/deposit_chain/main.go
  v2/examples/confidential_asset/register/main.go
  v2/examples/confidential_asset/transfer/main.go
  v2/examples/confidential_asset/withdraw/main.go
Due: none

fix(v2/confidentialasset): fix six bugs found during code review
  v2/confidentialasset/client_proofs.go
  v2/confidentialasset/internal/movearg/movearg.go
  v2/confidentialasset/internal/sigma/transfer.go
  v2/confidentialasset/internal/sigma/withdraw.go
  v2/confidentialasset/native/balance.go
  v2/confidentialasset/native/proofs.go
Due: v2

fix(v2/confidentialasset): restore Withdraw zero-address fallback to signer
  v2/confidentialasset/native/proofs.go
Due: v2

test(v2/confidentialasset): improve test coverage from 82% to ~85%
  v2/confidentialasset/internal/cipherparse/cipherparse_internal_test.go
  v2/confidentialasset/internal/sigma/fiat_shamir_test.go
  v2/confidentialasset/internal/sigma/transfer.go
  v2/confidentialasset/internal/sigma/transfer_test.go
  v2/confidentialasset/internal/sigma/withdraw.go
  v2/confidentialasset/views_client_test.go
Due: v2

fix(v2/confidentialasset): return err2 instead of err in ViewRowToSlice fallback
  v2/confidentialasset/internal/cipherparse/cipherparse.go
Due: v2

test(v2/confidentialasset): add native error-path tests; fix codecov v2 check
  codecov.yml
  v2/confidentialasset/native/proofs_test.go
Due: v1

fix(v2/examples): apply APTOS_NODE_URL to aptos.Client, not just REST lookup
  v2/confidentialasset/compile_constraint_test.go
  v2/examples/confidential_asset/balance/main.go
  v2/examples/confidential_asset/deposit_chain/main.go
  v2/examples/confidential_asset/register/main.go
  v2/examples/confidential_asset/transfer/main.go
  v2/examples/confidential_asset/withdraw/main.go
Due: none

Pin GitHub Actions to SHA hashes
  .github/actions/run-go-tests/action.yaml
  .github/actions/run-gofumpt/action.yaml
  .github/workflows/codecov.yaml
  .github/workflows/gofumpt-lint.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/run-go-tests.yaml
Due: v1

Narrow arch build tags to x86, arm, riscv, and powerpc
  v2/internal/bcs/deserializer_intmax_32bit_test.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
Due: none

test: cover SplitPath edge cases for empty and out-of-range segments
  crypto/hd/hd_test.go
  v2/internal/crypto/hd/hd_test.go
Due: none

Add wasm and wasm64 to supported arch test build tags
  v2/internal/bcs/deserializer_intmax_32bit_test.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
Due: none

Address PR review: safe uleb128-to-int conversion and test tags
  bcs/deserializer.go
  typeConversion_test.go
  v2/internal/bcs/deserializer.go
  v2/internal/bcs/deserializer_intmax_32bit_test.go
  v2/internal/bcs/reflect.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
Due: v2, v1

Fix 32-bit overflow in v2 BCS length checks and related tests
  spec_bcs_test.go
  typeConversion_test.go
  v2/internal/bcs/bcs.go
  v2/internal/bcs/deserializer.go
  v2/internal/bcs/reflect.go
  v2/internal/bcs/serializer.go
Due: v2

Fix lint: use errors.New and integer range in bcs deserializer
  bcs/deserializer.go
Due: v1

Fix math.MaxUint32 overflow on 32-bit systems in util.go
  internal/util/util.go
  v2/internal/util/util.go
  v2/internal/util/util_inttou32_32bit_test.go
  v2/internal/util/util_inttou32_64bit_test.go
  v2/internal/util/util_test.go
Due: v2, v1

docs: export ValidateMnemonic, add changelog/README, pin SingleKey vector
  CHANGELOG.md
  README.md
  crypto/derivation.go
  crypto/derivation_test.go
  v2/CHANGELOG.md
  v2/README.md
  v2/account/account.go
  v2/account/derivation_test.go
  v2/crypto.go
  v2/internal/crypto/derivation.go
  v2/internal/crypto/derivation_test.go
Due: v2, v1

fix: address PR review feedback on HD derivation
  account_derivation_test.go
  crypto/derivation_test.go
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  internal/types/account_test.go
  v2/internal/crypto/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

feat: add BIP-39 mnemonic and BIP-44 derivation path support
  account.go
  account_derivation_test.go
  crypto/derivation.go
  crypto/derivation_test.go
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  go.mod
  go.sum
  internal/types/account.go
  v2/account/account.go
  v2/account/derivation_test.go
  v2/go.mod
  v2/go.sum
  v2/internal/crypto/derivation.go
  v2/internal/crypto/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

fix: reject extra derivation args and improve segment errors
  crypto/hd/hd.go
  crypto/hd/hd_test.go
  internal/types/account.go
  internal/types/account_test.go
  v2/account/account.go
  v2/account/derivation_test.go
  v2/internal/crypto/hd/hd.go
  v2/internal/crypto/hd/hd_test.go
Due: v2, v1

release: prep v1.15.0 and v2.3.0 changelogs
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

release: consolidate changelogs as v1.14.0 and v2.2.0
  CHANGELOG.md
  v2/CHANGELOG.md
Due: v2, v1

[v2] Fill gaps in SDK from TS
  v2/client.go
  v2/compatibility/v1_v2_test.go
  v2/inner_payload.go
  v2/inner_payload_test.go
  v2/node_client.go
  v2/node_extras.go
  v2/node_extras_test.go
  v2/object.go
  v2/object_test.go
  v2/options.go
  v2/testutil/fake_client.go
  v2/transaction_types.go
Due: v2

test: cover error and branch paths for v2 objects, orderless, node extras
  v2/inner_payload_test.go
  v2/node_extras_test.go
  v2/object_test.go
Due: none
